terraform.tfstate
terraform.tfplan
./*.tfstate
./.terraform
.terraform/
*.bak
.*.swp
.idea
*.plan
.terrabuild.plan
.terrabuild.destroy
.secretfile
*temp.txt
./*.conf
*.conf
*-staging
*-production
*-integration
./*-staging
./*-integration
./*-production
./output.json
output.json